<template>
  <div>
      <h1>Cadastro</h1>
      <form id="formulario" method="post">
          <h4 class="subtitulo">Informações de Login</h4>
          <input class="grande" type="email" name="email" placeholder="Digite seu e-mail">
          <input class="grande" type="email" name="email" placeholder="Repita seu e-mail"><br>
          <input class="pequeno" type="password" name="senha" placeholder="Digite uma senha">
          <input class="pequeno" type="password" name="senha" placeholder="Repita sua senha"><br>

          <h4 class="subtitulo">Informações Pessoais</h4>
          <input class="grande" type="text" name="nome" placeholder="Digite seu nome"><br>
          <input class="pequeno" type="text" name="id" placeholder="Digite seu RA">
          
          <input class="pequeno" type="date" name="dataNascimento" placeholder="Digite sua data de nascimento"><br>
          <input class="pequeno" type="tel" name="numero" placeholder="Celular"><br>
          <input class="radio" type="radio" name="cargo" value="estudante">
          <label for="estudante">Estudante</label>
          <input class="radio" type="radio" name="cargo" value="organizador">
          <label for="organizador">Organizador</label><br>
          <br>
          <input type="submit" name="enviar" placeholder="Enviar"><br>
      </form>
  </div>
</template>

<script>
    export default {
        data(){
            return{
                pagId:'cadastro',
                email:this.email,
                nome:this.nome,
                id:this.id,
                numero:this.numero,
                eEstudante:true,
                nascData: this.nascData
            }
        }
    }
</script>

<style scoped>
    @media (max-width: 720px){
        input, textarea, select, button{
            border:0 none;
            outline: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        input.radio{
            margin: 1%;
            padding: 1%;
        }
        input.grande:focus{
            width: 72vw;
        }
        input.pequeno:focus{
            width: 52vw;
        }
        input.grande{
            width: 70vw;
            display: inline-block;
            padding: 1%;
            margin: 2%;
            border-radius: 5px;
            border:black solid thin;
        }
        input.pequeno{
            width:50vw;
            border:solid thin;
            padding: 1%;
            border-radius: 5px;
            border:black solid thin;
            margin: 2%;
        }
        h4.subtitulo{
            margin: 3%;
        }  
    }
    @media (min-width: 721px){
        input{
            text-align: center;
        }
       input, textarea, select, button{
            border:0 none;
            outline: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        input.radio{
            margin: 1%;
            padding: 1%;
        }
        input.grande{
            width: 30vw;
            display: block;
            padding: 1%;
            margin: 2%;
            border-radius: 5px;
            border: solid thin;
            border-color: black;
           
        }
        input.pequeno{
            width:12vw;
            
            border:solid thin;
            padding: 1%;
            border-radius: 5px;
            margin: 2%;
        }
        h4.subtitulo{
            margin: 3%;
        } 
    }
    
</style>